body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #51c4d3; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scoreTracker {
	width: 15%; 
	margin: auto;
}

h3 {
	margin: 5px 0;
	width: auto;
	font-size: 15px;   
}

header {
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	background: #132c33;
	color: #d8e3e7; 
	margin: 0; 
	padding: 30px;
}
h1 {
	margin: 0;
}
 

.cards {
	display: grid;
	width: 90%;
	margin: auto;
	grid-template-columns: repeat(4, 1fr);   
}

.card {
	background: #132c33;
	color: #d8e3e7;  
	margin: 20px; 
	padding-bottom: 20px;   
	text-align: center;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	word-spacing: 5px; 
}

.card:hover {
	cursor: pointer;
}

span {
	display: inline-block;
	margin-top: 10px; 
}